.SILENT
.OPTIMIZE
.ERASE
#***************************************************************************
# development configuration switches
#CC_CFG         = -bt=nt /i=$(%WIN32LIB)\include -W3 -d2 -orilt /4 -s -j -DNUMEGA=1
#CC_CFG          = -bt=nt /i=$(%WIN32LIB)\include -W3 -d2 -od /4 -s -j -DNUMEGA=1
ASM_CFG		= /i. /i$(%WIN32LIB)\include /zi /t /m /w+ /jJUMPS /ml
LIB_CFG   	= /b /n
LINK_CFG  	= debug codeview system nt_win option stack=64k  op map
#ASM_CFG		= /i. /i$(%WIN32LIB)\include /zd /t /m /w+ /jJUMPS /ml
#LIB_CFG   	= /b /n
#LINK_CFG  	= option stack=32k debug all

#***************************************************************************
# Release configuration switches

CC_CFG   = /i=$(%WIN32LIB)\include /W3 /d1 /otxan /s /4 /j -fo=$(PROJ_DIR)\OBJ\$^. -fr=$(PROJ_DIR)\OBJ\$^&.ERR
#ASM_CFG	  = /i$(%WIN32LIB)\include /zd /t /m /w+ /jJUMPS /ml
#LIB_CFG   = /b /n
#LINK_CFG  = option stack=32k debug all


#***************************************************************************
# The version of WIN32LIB that RA3.03 was compiled with used a slightly
# older project config than the released code contains, and it was possible
# the version it used was not fully cleaned before building the final
# release binary. -tomsons26

CC_OLD_CFG1 = -bt=nt /i=$(%WIN32LIB)\include -W3 -d2 -orilt /4 -s -j -DNUMEGA=1 -fo=$(PROJ_DIR)\OBJ\$^. -fr=$(PROJ_DIR)\OBJ\$^&.ERR
CC_OLD_CFG1 += /i=$(%DXSDK)\inc
CC_OLD_CFG1 += /i=$(%WATCOM)\H
CC_OLD_CFG1 += /i=$(%WATCOM)\H\NT
CC_OLD_CFG1 += /i=$(%WATCOM)\H\SYS

CC_OLD_CFG2 = -bt=nt /i=$(%WIN32LIB)\include -W3 -d2 -od /4 -s -j -DNUMEGA=1 -fo=$(PROJ_DIR)\OBJ\$^. -fr=$(PROJ_DIR)\OBJ\$^&.ERR
CC_OLD_CFG2 += /i=$(%DXSDK)\inc
CC_OLD_CFG2 += /i=$(%WATCOM)\H
CC_OLD_CFG2 += /i=$(%WATCOM)\H\NT
CC_OLD_CFG2 += /i=$(%WATCOM)\H\SYS
